<div class="modal" tabindex="-1" role="dialog" id="imagePreview">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Image Preview</h5>
          <button (click)="handleCloseModal()" type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            
          </button>
        </div>
        <div class="modal-body">
          <img [src]="src" alt="">
        </div>
        <div class="modal-footer">
          <button (click)="handleCloseModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>