<form action="" [formGroup]="form">
	<div class="form-inline" *ngFor="let name of entityNames">
		<label for="">
			{{name | formatName}} :
		</label>

		<input
		*ngIf="(name | formatType:data) ==='INPUT' " 
		class="form-control" type="text"
		type="text" [formControlName]="name" [value]="name | formatFormValue : data " />

		<select [name]="name" id=""
		class="form-control single-select" 
		*ngIf="(name | formatType:data) ==='SELECT' "
		[formControlName]="name" 
		>
		<option [value]="true"
		[selected]="(name | formatFormValue:data)==true"
		> Yes</option>
		<option [value]="false"
		[selected]="(name | formatFormValue:data)==false"
		> No</option>
		</select>

		<select [name]="name" id=""
		class="form-control single-select" 
		*ngIf="(name | formatType:data) ==='CURRENCY' "
		[formControlName]="name" 
		>
		<option value="EUR"
		[selected]="(name | formatFormValue:data)=='EUR'"
		> EUR</option>
		<option value="USD"
		[selected]="(name | formatFormValue:data)=='USD'"
		> USD</option>
		</select>


		<div *ngIf="(name|formatType:data)==='IMAGE'" >
			<app-image-view (emitFile)="handleChangeFile($event)" [imageUrls]="name | formatFormValue:data"></app-image-view>
		</div>
		<div *ngIf="(name|formatType:data)==='OPTION'" >
			<app-option-form [options]="name | formatFormValue:data"
			(emitOption)="handleUpdateOption($event)"
			></app-option-form>
		</div>
		<div *ngIf="(name|formatType:data)==='SELECT_CATEGORIES'" >
			<select name="categories[]" 
			class="form-control select-categories" 

			multiple ="multiple"
			>
				<option [value]="category._id"
				[selected]="categoriesSelected.includes(category._id)"
				*ngFor="let category of categories"
				 >
					{{category.name}}
				</option>
			</select>
		</div>
		</div>

		<div class="action d-flex justify-content-end py-1 gap-2">
			<button class="btn btn-danger">Cancel</button>
			<button class="btn btn-success" (click)="handleSubmit()">Update</button>
		</div>
</form>