aside ul {
	list-style: none;
	padding: 10px 0;
}

aside ul li a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}
aside ul li a.active,
aside ul li a:hover{
	background-color: #ccc;
}

